<app-navbar></app-navbar>
<router-outlet></router-outlet>



<!-- 

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="worker">worker</a> from <a href="https://www.flaticon.com/"
      title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a></div>

  <div class="container text-center">
  </div>
</nav> -->